input{
	border:1px solid #777 !important;
}
#logo{
	margin:10px;
}
#sideBar{
	display:block;
	width:200px;
	float:left;
	margin:0 20px 0 10px;
}
#goodBox{
	display:block;
	width:750px;
	float:left;
}
#sideBar  .sideTitle{
	font-size:14px;
	padding:5px;
	border:1px solid #eee;
	border-left:3px solid #b80a01;
	margin:6px;
}
#shlfGoods img{
	width:180px;
	margin:0 auto;
}
#shlfGoods h2{
	font-size:12px;
	font-weight:normal;
	text-align:center;
}
#shlfGoods h3{
	color:#c20000;
	text-align:center;
}
#shlfGoods h3 span{
	color:#000;
}
#ownerInfo .title{
	display:block;
	width:60px;
	float:left;
	text-align:right;
	color:#4a6497;
}
#ownerInfo .info{
	display:block;
	width:130px;
	float:left;
}
#goodShow h1{
	font-size:12px;
	margin-bottom:10px;
}
#buyBox img{
	width:300px;
	height:300px;
	float:left;
	margin:0 20px 0 0;
}
#buyBox #price,#buyBox #oldPrice{
	color:#ed3d3d;
	font-size:30px;
	font-weight:bold;
	font-family:tahoma,arial,ו;
	margin-right:6px;
}
#buyBox #oldPrice{
	font-size:20px;
	font-weight:normal;
}
#buyBox ul{
	display:block;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	margin-bottom:10px;
}
#buyBox ul li{
	margin:3px 0;
}
#buyBox form{
	padding:10px;
	display:block;
	background:#eee;
}
#buyBox #number{
	border:1px solid #ccc;
}
#goodCommants{
	clear:both;
	display:block;
	margin:10px;
}
#goodCommants #funList{
	display:block;
	width:98%;
	clear:both;
	height:28px;
	border-bottom:1px solid #aa1207;
}
#goodCommants #funList li{
	float:left;
}
#goodCommants #funList li a{
	display:block;
	font-size:12px;
	text-align:center;
	width:140px;
	margin:0 1px 0 0;
	padding:5px 0;
	border-bottom:none;
	background:url(../../../images/fun.png) 100% -169px;
}
#goodCommants #funList .selected,#goodCommants #funList li a:hover{
	border-left:1px solid #aa1207;
	font-size:13px;
	font-weight:bold;
	border-bottom:none;
	background:#fff;
	background:url(../../../images/fun.png) 100% -139px;
}
#fun-bt{
	height:60px;
}
#shouCang a{
	margin:0 10px;
}
#buyBox #buyIt,
#buyBox #toBox{
	display:block;
	text-indent:-2000px;
	border:none;
	margin:10px;
	cursor:pointer;
	height:36px;
	width:127px;
	float:left;
}
#buyBox #buyIt{
	background:url(../../../images/sale-bt-bg.png) 0 0;
}
#buyBox #toBox{
	background:url(../../../images/sale-bt-bg.png) -253px 0;
}
#info #infoList{
	display:block;
	width:94%;
	padding:20px 15px;
	margin:10px 10px 10px 0;
	background:#eee;
	clear:both;
	border:1px solid #ddd;
}
#info #infoList li{
	width:30%;
	float:left;
	margin:3px 0;
}
#orders li,#warranty li,#pj li{
	padding:6px;
	margin:5px;
	border:1px solid #7fcde1;
	text-align:center;
	background:#d3e8ed;
}
#pj li .commentTime{
	text-align:left;
	color:#999;
}
#messageForm form{
	padding:10px;
}
#messageForm textarea{
	border:1px solid #ddd;
	width:400px;
	height:80px;
}
#messageForm #catOk{
	padding:3px 30px;
	color:#fff;
	background:#ed3d3d;
	cursor:pointer;
	cursor:hand;
}
#shopInfo h2+div {
	overflow:hidden;
	width:978px;
	_width:1000px;
}
/*shop*/
#shopInfo{
	margin:5px;
	padding:5px;
	background:#d3e8ed;
	border:1px solid #7fcde1;
}
.shelf{
	margin:10px;
	text-align:center;
}
.shelf h2{
	font-size:12px;
	font-weight:bold;
	padding:8px 10px;
	border:1px solid #eee;
	border-bottom:3px solid #dd3d25;
}
.shelf ul{
	display:block;
	margin:0 auto;
	width:700px;
}
.shelf ul li{
	display:block;
	width:190px;
	float:left;
	margin:10px;
}
.shelf ul li img{
	width:100%;
	height:200px;
}
.shelf .prize{
	color:#dd3d25;
}
.shelf .prize span{
	color:#999;
}
.shelf .goodsTitle{
	display:block;
	width:100%;
	height:37px;
	overflow:hidden;
}
.shelf .goodsTitle a{
	font-size:12px;
}
#lianMeng{
	clear:both;
}
#lianMeng .leftSide,
#lianMeng .rightSide{
	float:left;
}
#lianMeng .leftSide{
	width:120px;
}
#lianMeng .rightSide{
	width:800px;
}
#lianMeng #lmList li{
	display:block;
	width:18%;
	height:60px;
	padding:10px;
	margin:10px;
	float:left;
	border:1px solid #ddd;
	background:#eee;
	text-align:center;
}
#lmList .lmImg{
	width:120px;
	height:40px;
}