 /** Reset **/ 
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, textarea,th,td,img{  
  border:medium none;  
  margin: 0;  
  padding: 0;  
}  
body,button, input, select, textarea {  
  font: 12px/1.5 '宋体',tahoma, Srial, helvetica, sans-serif;  
}  
h1, h2, h3, h4, h5, h6 { font-size: 100%; }  
em{ font-style:normal;}  
ul, ol { list-style: none; }  
a { text-decoration: none; color:#333;}  
a:hover { text-decoration: underline; color:#F40; }  
img{ border:0px;}  
table { border-collapse: collapse; border-spacing: 0; } 
fieldset, img { border:0; }
li { list-style:none; }
i { font-style:normal; }
h1{ font-size:28px;}
h2{ font-size:20px;}
/*main*/
body{ text-align:center; }
#content,.clear{ clear:both; }
#page{
	width:1000px;
	margin:0 auto;
	padding:0 12px;
	text-align:left;
}
hr{
	height:1px;
	margin:15px;
	border:none;
	clear:both;
	border-top:1px dashed #CCC;
}
#leftBar{
	width:160px;
	float:left;
	border-right:1px solid #ddd;
}
#leftBar li{ font-size:14px; }
#leftBar .header1 h1{ font-size:14px; color:#ff6600; }
#leftBar .header1 li{ padding:0 14px; margin:0; }
#contentBox,#contentBox_g_c,.contentBox{
	width:800px;
	float:left;
	display:block;
	text-align:left;
}
#contentBox p,.contentBox p{ clear:both; text-align:left; }
#contentBox p span{
	display:block;
	width:130px;
	float:left;
	text-align:right;
	margin:5px;
	padding:5px;
	font-weight:bold;
}
.contentBox textarea{ width:90% !important; height:300px; }
#contentBox input,.contentBox textarea{
	margin:5px;
	padding:5px;
	border:1px solid #eee;
	width:230px;
}
.goods_cat{
	width:30%;
	display:block;
	float:left;
	padding:8px;
}
.goods_cat select{ width:100%; }
.goods_cat .inlist{ height:300px; }
#goods_type,#sale_type{
	width:45%;
	float:left;
	display:block;
	margin-left:10px;
}
#goods_type select,#sale_type select{ width:80%; }
